{{ partial "header.html" . }}

<div id="post-index" class="container" itemscope="" itemtype="https://schema.org/Blog">
    <header class="post-header">
      <div class="site-logo">
        <object type="image/svg+xml" data="{{ .Site.BaseURL }}img/logo.svg"></object>
      </div>
        <h1 class="post-title" itemprop="name">{{ .Site.Params.headline }}</h1>
        <p>{{ .Site.Params.description }}</p>
        <ul class="site-nav">
            {{ partial "navigation.html" . }}
        </ul>
    </header>

    <ol class="post-list">
        {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}
