{{ partial "header.html" . }}

<div id="post-index" class="page-content">

    <header class="post-header">
        <h1 class="post-title"> News </h1>
    </header>
    <ol class="post-list">
        {{ $pag := .Paginate (where .Data.Pages "Type" "news") }}
        {{ range $pag.Pages }}
            {{ partial "news-stub.html" . }}
            <div class="news-detail">
              {{ .Content }}
            </div>
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}
